.chat-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  gap: 1em;
}

.message-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0;
  padding-bottom: 1em;
}

.msg-text-field {
  flex: 1;
  padding: var(--input-padding);
  font-size: 1rem;
  border: var(--input-border);
  border-radius: 5px 0 0 5px;
  box-shadow: var(--input-box-shadow);
}

.send-msg-btn {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0 5px 5px 0;
}

.send-msg-btn:hover {
  background-color: var(--primary-color-hover);
}

.my-message {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5em;
  border-radius: 10px;
  margin-bottom: 0.5em;
  align-self: flex-end;
}

.my-message > p {
  color: white;
}

.their-message {
  background-color: var(--background-color-secondary);
  color: var(--secondary-color);
  padding: 0.5em;
  border-radius: 10px;
  margin-bottom: 0.5em;
  align-self: flex-start;
}

.messages-list {
  height: 30em;
  overflow-y: scroll;
}
