.session-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.chat-container {
  flex: 1;
  padding: 1em;
  border-left: var(--box-border-left);
  display: flex;
  flex-direction: row;
}

.calendar-container {
  flex: 1;
  padding: 1em;
  overflow-y: scroll;
}

.feedback-container {
  flex: 1;
  padding: 2em;
  border-left: var(--box-border-left);
}

.hide {
  display: none;
}

.feedback-toggle {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.toggle-btn {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.btn-text {
  display: inline-block;
  transform: rotate(270deg);
}

.toggle-btn:hover {
  background-color: var(--primary-color-hover);
}

.star-rating {
  display: flex;
  gap: 5px;
}

.star {
  cursor: pointer;
  font-size: 25px;
}

.feedbacks-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 15em;
  overflow-y: auto;
  padding: 1em;
}

.feedback-card {
  background-color: var(--background-color-secondary);
  padding: 1em;
  border-radius: 5px;
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-submit-btn {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: var(--button-border-redius);
}

.feedback-submit-btn:hover {
  background-color: var(--primary-color-hover);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.feedback-textarea {
  min-width: 90%;
  max-width: 90%;
  min-height: 100px;
  max-height: 150px;
  padding: var(--input-padding);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
}

.chat-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  gap: 1em;
}

.message-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0;
  padding-bottom: 1em;
}

.msg-text-field {
  flex: 1;
  padding: var(--input-padding);
  font-size: 1rem;
  border: var(--input-border);
  border-radius: 5px 0 0 5px;
  box-shadow: var(--input-box-shadow);
}

.send-msg-btn {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0 5px 5px 0;
}

.send-msg-btn:hover {
  background-color: var(--primary-color-hover);
}

.my-message {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5em;
  border-radius: 10px;
  margin-bottom: 0.5em;
  align-self: flex-end;
}

.my-message > p {
  color: white;
}

.their-message {
  background-color: var(--background-color-secondary);
  color: var(--secondary-color);
  padding: 0.5em;
  border-radius: 10px;
  margin-bottom: 0.5em;
  align-self: flex-start;
}

.messages-list {
  height: 30em;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .session-content {
    flex-direction: column;
  }

  .chat-container,
  .calendar-container,
  .feedback-container {
    flex: none;
    width: 100%;
    padding: 0.5em;
  }

  .message-input {
    flex-direction: column;
  }

  .msg-text-field {
    border-radius: 5px;
  }

  .send-msg-btn {
    border-radius: 5px;
    margin-top: 0.5em;
  }

  .btn-text {
    display: inline-block;
    transform: rotate(0deg);
  }

  .toggle-btn {
    border-radius: var(--button-border-redius);
  }
}
