:root {
  --primary-color: #1e4e72;
  --primary-color-hover: #0056b3;
  --secondary-color: #333;
  --text-color: #333;
  --background-color: #f9f9f9;
  --background-color-nav: #ece6e6;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-border-left: 2px solid #5e5e63;
  --background-color-secondary: #eee8e8;
  --input-border: 2px solid var(--border-color);
  --input-border-radius: 20px / 50%;
  --input-border-focus: 2px solid #007bff;
  --input-border-color-focus: #555555;
  --input-shadow-focus: 0 0 8px rgba(85, 85, 85, 0.3);
  --input-outline-focus: none;
  --input-padding: 0.75em 0 0.75em 1.5em;
  --input-background: rgba(240, 240, 240, 0.9);
  --link-color: #007bff;
  --link-hover: #0056b3;
  --button-transition: background-color 0.3s ease;
  --button-border-redius: 5px;
  --gradient-start: #8d8e98;
  --gradient-middle: #a59793;
  --gradient-end: #7b829c;
  --gradient-extra: #ae9f9f;
  --bar-color: #232121;
  --reverse-text-color: #f9f9f9;
  --text-color-on-button: #f9f9f9;
  --calendar-color: #eee7e7;
  --skill-color: #ff9500;
  --interest-color: #2ecc71;
  --border-color: #cccccc;
  --info-text-color: #969090;
  --text-color-secondary: #666666;
  --text-color-muted: #969090;
  --error-color: #ff7675;
  --error-color-hover: #ff5252;
  --placeholder-color: #999999;
}

body.dark-mode {
  --primary-color: #1e4e72;
  --primary-color-hover: #0056b3;
  --secondary-color: #333;
  --text-color: #f9f9f9;
  --background-color: #333;
  --background-color-nav: #444;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --box-border-left: 2px solid #5e5e63;
  --background-color-secondary: #555;
  --input-border: 2px solid var(--border-color);
  --input-border-radius: 20px / 50%;
  --input-border-focus: 2px solid #a6adb0;
  --input-background: rgba(240, 240, 240, 0.9);
  --input-border-color-focus: #dacece;
  --input-shadow-focus: 0 0 8px rgba(85, 85, 85, 0.3);
  --input-outline-focus: none;
  --input-padding: 0.75em 0 0.75em 1.5em;
  --link-color: #007bff;
  --link-hover: #0056b3;
  --button-transition: background-color 0.3s ease;
  --button-border-redius: 5px;
  --gradient-start: #8d8e98;
  --gradient-middle: #a59793;
  --gradient-end: #7b829c;
  --gradient-extra: #ae9f9f;
  --bar-color: #232121;
  --reverse-text-color: #333;
  --text-color-on-button: #f9f9f9;
  --calendar-color: #555;
  --skill-color: #ff9500;
  --interest-color: #9b59b6;
  --border-color: #1e1c1c;
  --info-text-color: #666;
  --text-color-secondary: #a0a0a0;
  --text-color-muted: #666;
  --error-color: #ff5252;
  --error-color-hover: #ff1744;
  --placeholder-color: #a0a0a0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  animation: gradientAnimation 15s ease infinite;
}

body * {
  font-family: 'Lucida Console', Monaco, monospace;
}

.App {
  background-color: var(--background-color);
}
