:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --secondary-color: #333;
  --text-color: white;
  --background-color: #f9f9f9;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --background-color-secondary: #eee8e8;
  --gradient-start: #8d8e98;
  --gradient-middle: #a59793;
  --gradient-end: #7b829c;
  --gradient-extra: #ae9f9f;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: lato, sans-serif;
  background: linear-gradient(45deg, #8d8e98, #a59793, #7b829c, #ae9f9f);
  animation: gradientAnimation 15s ease infinite;
}
