.nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 1em;
  float: left;
  height: 100vh;
}

.list-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 1em;
  float: left;
  height: 100vh;
  list-style: none;
}

.list-item > a {
  color: white;
  text-decoration: none;
}
.list-item > a:hover {
  color: #ff6347;
}

.list-item {
  margin: 0.5em 0;
}

p {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

p:hover {
  color: #ff6347;
}
