#all-profiles-headline {
  margin-top: 0;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
}

.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.filter-container {
  width: 100%;
  background-color: var(--background-color-nav);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 0;
  padding: 1em;
}

.keyword-input,
.filter-input {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.3s ease;
  border-radius: 5px;
}

.filter-input {
  margin-right: 20px;
}

.all-profiles-container {
  background-color: var(--background-color);
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  width: 100%;
  height: calc(100vh - 150px);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.scroll-area {
  overflow-y: auto;
  height: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--primary-color);
  color: var(--text-color);
}

td {
  color: var(--secondary-color);
}

td:hover {
  cursor: pointer;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color-hover);
}
